.new-section-heading {
    font-size: 2rem;
}

.new-section-heading-1,
.new-section-heading-3 {
    color: #392D6A;
}

.new-section-heading-2 {
    color: #DEFE5D;
}

.new-section {
    display: flex;
}

.card-heading {
    color: #392D6A;
}

.learn-More-btn {
    width: 140px;
    background-color: #7D5DFE;
    text-align: center;
    height: 40px;
    padding: 10px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    border-radius: 20px;

}

.learn-More-btn:hover {
    background-color: #DEFE5D;
    color: #392D6A;
}

.new-section-card {
    width: 300px;
    padding: 30px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    border-radius: 3%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.new-section-leftside{
    position: relative;
      display: flex;
      flex-direction: column;
}
.circle-image{
    position: absolute;
      width: 100px; /* Adjust the size as needed */
      height: auto;
      transition: transform 0.5s ease;  
}


.new-section-card-outer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.new-section-card-outer ul {
    padding-left: 10px;

}

.new-section-card-list {
    /* padding: 2px; */
    list-style-image: url(../imgs/logo/check.png);
    list-style-position: outside;

}

@media (min-width: 600px) and (max-width: 768px) {
    .new-section-leftside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .new-section-card {
        width: 45%;
        height: auto;
    }

    .card-heading {
        font-size: 1.2rem;
    }

    .new-section-card-list {
        font-size: 0.8rem;
    }

    .new-section-para-left {
        text-align: center;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .new-section {
        display: flex;
        flex-direction: column;
    }

    .new-section-leftside {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .new-section-card {
        width: 45%;
        height: auto;
        text-align: center;
    }

    .card-heading {
        font-size: 1.2rem;
    }

    .new-section-card-list {
        font-size: 0.8rem;
    }

    .new-section-para-left {
        text-align: center;
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .new-section {
        display: flex;
        flex-direction: column;
    }

    .new-section-leftside {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .new-section-card {
        width: 45%;
        height: auto;
        text-align: center;
    }

    .new-section-card-list {
        padding-inline-start: 0.5ch;

    }

    .card-heading {
        font-size: 1.2rem;
    }

    .new-section-card-list {
        font-size: 0.8rem;
    }

    .new-section-para-left {
        text-align: center;
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .new-section-leftside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;

    }

    .new-section-heading {
        font-size: 1.5 rem;
    }

    .new-section-para-left {
        text-align: center;
        font-size: 0.9rem;
    }
}

.blog-para {
    text-align: center;
}

.work-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.steps {
    color: #392D6A;
    padding: 0 15px;
    border: 1px solid #DEFE5D;
    border-radius: 10px;
}

.work-step-card {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    flex-grow: 4;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 30px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    border-radius: 3%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.work-step-card-img {
    display: flex;
    width: 5%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    padding: 15px;
    border-radius: 50%;
    background-color: #DEFE5D;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.divition-line {
    height: 1px;
    width: 100%;
    background-color: #defe5d7e;
    margin-top: -20px;
    margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .work-step-card-img {
        display: none;
    }

    .work-step-card {
        width: 30%;
        gap: 10px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .work-step-card-img {
        display: none;
    }

    .work-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work-step-card {
        width: 80%;
    }
}

@media (max-width: 425px) {
    .work-step-card-img {
        display: none;
    }

    .work-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

#team-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-section-left {
    position: relative;
    width: 100%;
    height: 100%;
}

.founder-img {
    width: 100%;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 30px;

}

.square-shape-2 {
    position: absolute;
    top: 280px;
    right: -20px;
    rotate: 60deg;
    z-index: -1;
    animation: rotate-animation 10s infinite linear;
}

.square-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: rotate-animation 10s infinite linear;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.founder-img-left {
    border-radius: 50%;
}

.founder-line {
    height: 1px;
    width: 50px;
    background-color: #DEFE5D;
    margin-top: 5px;
    margin-bottom: 5px;
}

.founder-heading-1 {
    margin-bottom: 8px;
}

.founder-heading-2 {
    margin-bottom: 5px;
}

.founder-heading-3 {
    margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .founder-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .founder-line {
        margin-top: 3px;
        margin-bottom: 5px;
    }

    .founder-heading-1 {
        margin-bottom: 5px;
    }

    .founder-heading-2 {
        margin-bottom: 4px;
    }

    .founder-heading-3 {
        margin-top: 3px;
    }
    .founder-img-left{
        width: 100%;
        margin-top: 50%;
    }
}

@media (min-width: 426px) and (max-width: 767px) {

    #team-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .founder-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: auto;

    }
    
    .square-shape-2 {
        top: 300px;
        right: 0;
    }

}

@media (min-width: 300px) and (max-width: 425px) {
    #team-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .founder-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .founder-img-left {
        width: 100%;
    }

    .square-shape-2 {
        top: 280px;
        right: 0;
    }

}

/* ABout Us Page Css */
